@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--primary-color);
}

a,
li {
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #181b1e;
  --primary-color-2: #f8f9fa;
  --secondary-color: #5f6266;
  --secondary-color-2: #cfd1d4;
  --accent-color: #a5a9ae;
  --span-color: #ffaa00;

  --transition: 1s ease-in-out;
}

html {
  height: 100%;
}

body,
header,
header .navbar,
.navbar .navs .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  flex-direction: column;
  height: 110vh;
  background-color: var(--primary-color-2);
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 18px;
  transition: background-color var(--transition);
}

body.dark-theme {
  background-color: var(--primary-color);
  color: var(--primary-color-2);
}

body.dark-theme a,
body.dark-theme li,
body.dark-theme p,
body.dark-theme h2,
body.dark-theme ion-icon,
body.dark-theme label {
  color: var(--primary-color-2);
}

header {
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary-color-2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition);
}

body.dark-theme header {
  background-color: var(--primary-color);
}

header .navbar {
  width: 100%;
  min-height: 60px;
  padding: 15px 20px;
}

.navbar .logo a {
  cursor: pointer;
  font-weight: 800;
}

.navbar .navs {
  width: 50%;
}

.navbar .navs .nav-links {
  width: 100%;
  transition: background-color var(--transition);
}

.navs .nav-links .link {
  cursor: pointer;
}

.navs .nav-links .link:hover {
  color: var(--secondary-color);
}

body.dark-theme .navs .nav-links .link:hover {
  color: var(--secondary-color-2);
}

.navs .nav-links .link.active {
  border-bottom: 2px solid var(--primary-color);
}

body.dark-theme .navs .nav-links .link.active {
  border-bottom: 2px solid var(--primary-color-2);
}

.navbar .mode-toggler,
.navbar .mode-toggler-large {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .mode-toggler ion-icon,
.navbar .mode-toggler-large ion-icon {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

body.dark-theme .mode-toggler ion-icon,
body.dark-theme .mode-toggler-large ion-icon {
  color: var(--primary-color-2);
}

.navbar .mode-toggler .moon,
.navbar .mode-toggler-large .moon {
  display: none;
}

.navbar .mode-toggler.dark-theme .moon,
.navbar .mode-toggler-large.dark-theme .moon {
  display: flex;
}

.navbar .mode-toggler.dark-theme .sunny,
.navbar .mode-toggler-large.dark-theme .sunny {
  display: none;
}

.navbar .hamburger-menu {
  width: 10%;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  height: 30px;
}

.navbar .hamburger-menu .line {
  width: 50%;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  transition: all 0.3s ease;
}

body.dark-theme .navbar .hamburger-menu .line {
  background-color: var(--primary-color-2);
}

.hamburger-menu .line-1 {
  top: 25%;
}

.hamburger-menu .line-2 {
  top: 50%;
}

.hamburger-menu .line-3 {
  top: 75%;
}

.navbar .hamburger-menu.active .line-1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.navbar .hamburger-menu.active .line-2 {
  display: none;
}

.navbar .hamburger-menu.active .line-3 {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.navbar .hamburger-menu.active .nav-links {
  display: flex;
}

main {
  width: 100%;
  flex: 1;
  padding: 20px 40px;
}

main section {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

/* Container */
.resume-container {
  display: flex;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left Section */
.left-section {
  background-color: var(--primary-color);
  padding: 40px 20px;
  width: 35%;
  text-align: center;
}

.left-section h1 {
  font-size: 24px;
  line-height: 1.4;
  margin: 20px 0;
  letter-spacing: 2px;
  color: var(--span-color);
}

.left-section h3 {
  font-size: 18px;
  color: var(--primary-color-2);
  margin-bottom: 20px;
}

.profile-pic img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.contact-info,
.references,
.languages,
.about {
  margin-top: 30px;
  text-align: left;
}

.contact-info h2,
.references h2,
.about h2,
.languages h2 {
  font-size: 16px;
  color: var(--primary-color-2);
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-info p,
.references p,
.about p,
.languages p {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--primary-color-2);
}

.language-bar {
  display: block;
  background-color: var(--primary-color-2);
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 4px;
}

.language-bar span {
  display: block;
  height: 100%;
  background-color: var(--span-color);
}

/* Right Section */
.right-section {
  background-color: var(--primary-color-2);
  padding: 40px;
  width: 65%;
  color: var(--primary-color);
  text-align: left;
}

body.dark-theme .right-section h2,
body.dark-theme .right-section p {
  color: var(--primary-color);
}

.right-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.education p,
.experience p,
.skills p {
  font-size: 14px;
  margin-bottom: 15px;
}

.about {
  margin-bottom: 30px;
}

.edu-item,
.exp-item {
  margin-bottom: 20px;
}

.edu-item h3,
.exp-item h3 {
  font-size: 16px;
  color: #004aad;
  margin-bottom: 5px;
}

.edu-item p,
.exp-item p {
  font-size: 14px;
  color: var(--primary-color);
}

.skills {
  margin-top: 30px;
}

.skill-bar {
  display: block;
  background-color: var(--accent-color);
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 4px;
}

.skill-bar span {
  display: block;
  height: 100%;
  background-color: #004aad;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .navbar .hamburger-menu {
    display: none;
  }

  .navbar .navs {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .navs .nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .mode-toggler {
    margin-left: 20px;
  }

  .navbar .mode-toggler {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .navs {
    position: absolute;
    right: 0;
    top: 60px;
    width: 250px;
  }

  .navbar .navs .nav-links {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    row-gap: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: none;
    background-color: var(--primary-color-2);
    width: 100%;
  }

  .navbar .hamburger-menu.active + .navs .nav-links {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  body.dark-theme .navbar .navs .nav-links {
    background-color: var(--primary-color);
  }

  .navbar .mode-toggler {
    padding: 15px 20px;
    border-top: 1px solid var(--secondary-color-2);
    width: 100%;
    justify-content: flex-start;
  }

  .navbar .mode-toggler-large {
    display: none;
  }

  body.dark-theme .navbar .mode-toggler {
    border-top: 1px solid var(--secondary-color);
  }

  .navbar .hamburger-menu.active + .navs .nav-links,
  .navbar .hamburger-menu.active + .navs .mode-toggler {
    display: flex;
  }

  .navbar .navs .mode-toggler {
    display: none;
  }
}
