<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/style.css" />
    <script type="module" src="/static/script.js" defer></script>

    <title>My Portfolio</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/" class="logo">
            JohnEliud
            <!-- <img src="/static/img/logo.svg" alt="Logo"> -->
          </a>
        </div>

        <div class="navs">
          <ul class="nav-links">
            <li class="link active">Home</li>
            <li class="link">Projects</li>
            <li class="link">Skills</li>
            <li class="link">Blog</li>
            <li class="link">Contact</li>
            <li class="link">Resume</li>
          </ul>
        </div>

        <div class="mode-toggler">
          <ion-icon name="sunny-outline" class="sunny"></ion-icon>
          <ion-icon name="moon-outline" class="moon"></ion-icon>
        </div>

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </nav>
    </header>
    <!-- Ion-Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
