<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="module" src="/static/js/script.js" defer></script>

    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/" class="logo">
            JohnEliud
            <!-- <img src="/static/img/logo.svg" alt="Logo"> -->
          </a>
        </div>

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <div class="navs">
          <ul class="nav-links">
            <li class="link active">
              <a href="/">Home</a>
            </li>
            <li class="link">
              <a href="/projects">Projects</a>
            </li>
            <li class="link">
              <a href="/skills">Skills</a>
            </li>
            <li class="link">
              <a href="/blog">Blog</a>
            </li>
            <li class="link">
              <a href="/contact">Contact</a>
            </li>
            <li class="link">
              <a href="/resume">Resume</a>
            </li>
          </ul>

          <div class="change-mode mode-toggler">
            <ion-icon name="sunny-outline" class="sunny"></ion-icon>
            <ion-icon name="moon-outline" class="moon"></ion-icon>
          </div>
        </div>

        <div class="change-mode mode-toggler-large">
          <ion-icon name="sunny-outline" class="sunny"></ion-icon>
          <ion-icon name="moon-outline" class="moon"></ion-icon>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="container">
          <div class="profile-details">
            <div class="introduction-container">
              <p>I am <span class="name">John Eliud Odhiambo</span></p>
              <p>Software Developer</p>
            </div>

            <div class="contact-container">
              <a href="/contact">Contact Me</a>
            </div>
          </div>

          <div class="profile-image">
            <img src="/static/img/" alt="Profile Image" />
          </div>
        </div>
      </section>
    </main>
    <!-- Ion-Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
