<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/resume.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script type="module" src="/static/js/script.js" defer></script>

    <title>Resume</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/" class="logo">
            JohnEliud
            <!-- <img src="/static/img/logo.svg" alt="Logo"> -->
          </a>
        </div>

        <div class="hamburger-menu">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>

        <div class="navs">
          <ul class="nav-links">
            <li class="link active">
              <a href="/">Home</a>
            </li>
            <!-- <li class="link">
              <a href="/projects">Projects</a>
            </li>
            <li class="link">
              <a href="/skills">Skills</a>
            </li> -->
            <li class="link">
              <a href="/blog">Blog</a>
            </li>
            <li class="link">
              <a href="/contact">Contact</a>
            </li>
            <li class="link">
              <a href="/resume">Resume</a>
            </li>
          </ul>

          <div class="change-mode mode-toggler">
            <ion-icon name="sunny-outline" class="sunny"></ion-icon>
            <ion-icon name="moon-outline" class="moon"></ion-icon>
          </div>
        </div>

        <div class="change-mode mode-toggler-large">
          <ion-icon name="sunny-outline" class="sunny"></ion-icon>
          <ion-icon name="moon-outline" class="moon"></ion-icon>
        </div>
      </nav>
    </header>

    <main>
      <section class="resume-section">
        <h2>Resume</h2>

        <div class="resume-container">
          <div class="left-section">
            <div class="profile-pic">
              <img
                src="/static/img/IMG_0979-31.jpg"
                alt="John Eliud Odhiambo"
              />
            </div>
            <h1>JOHN ELIUD<br />ODHIAMBO</h1>
            <h3>Apprentice Software Developer</h3>

            <div class="contact-info">
              <h2>Contact</h2>
              <p>johneliud4@gmail.com</p>
            </div>

            <div class="about">
              <h2>About Me</h2>
              <p>
                With a focused drive to learn and grow complemented by practical
                experience developing efficient, well-structured code, I’m
                skilled in building structured projects and keen to create
                high-quality, maintainable software. I am passionate about
                deepening my technical expertise and look forward to
                contributing to a team that values innovation, efficiency, and
                problem solving.
              </p>
            </div>

            <div class="languages">
              <h2>Languages</h2>
              <p>English</p>
              <p>Swahili</p>
              <p>Luo</p>
            </div>
          </div>

          <div class="right-section">
            <div class="experience">
              <h2>Experience</h2>
              <div class="exp-item">
                <h3 class="title">Apprentice Software Developer</h3>
                <p><strong>Zone01 Kisumu | April 2024 - Present</strong></p>
                <p>
                  Built efficient backend systems, including APIs, while
                  focusing on clean code principles. Optimized data handling by
                  leveraging Go’s strengths in performance and concurrency.
                  <br />
                  <br />

                  Implemented unit tests across various projects, focusing on
                  test-driven development practices to ensure reliability.
                  Gained experience with Go's testing libraries to cover
                  critical functions and improve code quality.
                  <br />
                  <br />
                  Actively participated in the Gophers Kisumu community and
                  sought opportunities to teach Go programming concepts. Shared
                  knowledge on regular expressions in Go.
                </p>
              </div>

              <div class="exp-item">
                <h3 class="title">IT Intern</h3>
                <p>
                  <strong
                    >Eastlands College of Technology | May 2023 - August
                    2023</strong
                  >
                </p>
                <p>
                  Offered support in the college's Management Information
                  System, gaining hands-on experience in system management.
                  <br />
                  <br />

                  Collaborated with the IT manager to troubleshoot hardware and
                  software issues, helping departments, and students.
                </p>
              </div>
            </div>

            <div class="education">
              <h2>Education</h2>
              <div class="edu-item">
                <p>The Co-operative University of Kenya | 2019 - 2023</p>
                <p></p>
              </div>
              <div class="edu-item">
                <p>Chianda High School | 2015 - 2018</p>
                <p></p>
              </div>
            </div>

            <div class="skills">
              <h2>Skills</h2>
              <p>Problem Solving</p>
              <p>Collaboration</p>
            </div>

            <div class="tech-stack">
              <h2>Tech Stack</h2>
              <div class="stacks">
                <i class="bx bxl-go-lang"></i>
                <i class="bx bxl-javascript"></i>
                <i class="bx bxl-docker"></i>
                <i class="bx bxl-git"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Ion-Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
